{% extends "base_css.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
{% if not request.user.is_authenticated %}
<div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Authentification</h3>
                </div>
              <div class="panel-body">

<form method="post" action=".">
  {% csrf_token %} 
  {{ form|crispy }}

  <input  class="btn btn-primary" type="submit" value="{% trans 'Connexion' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

</div>
            </div>
        </div>
</div>
{% endif %}
{% endblock %}
